.page-header {
  position: absolute;
  display: flex;
  width: 320px;
  padding-top: 21px;
  padding-bottom: 21px;
  justify-content: space-between;
  .padding-side--small;
  background-color:rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}
.page-header__logo-image {
  display: block;
}
