.page-header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 2;
  background-color:rgba(0, 0, 0, 0.3);
  width: 100%;
  @media (min-width: @desktop-width) {
    position: absolute;
  }
}
.page-header--open {
  @media (max-width: 1199px) {
    position: relative;
    .page-header__wrapper {
      padding: 0;
    }
    .page-header__logo {
      position: absolute;
      left: 20px;
      top: 22px;
      @media (min-width: @tablet-width) {
        top: 27px;
      }
    }
    .main-nav__toggle {
      position: absolute;
      right: 20px;
      top: 23px;
      @media (min-width: @tablet-width) {
        top: 43px;
      }
    }
    .main-nav__cross {
      display: flex;
    }
    .main-nav__burger {
      display: none;
    }
    .main-nav {
      position: relative;
      width: 100%;
    }
    .main-nav__list {
      display: flex;
    }
  }
}
.page-header--noflow {
  @media (max-width: 1199px) {
    position: fixed;
  }
}
.page-header__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: @desktop-width;
  padding-top: 21px;
  padding-bottom: 21px;
  justify-content: space-between;
  .padding-side--small;
  box-sizing: border-box;
  @media (min-width: @tablet-width) {
    padding-top: 27px;
    padding-bottom: 43px;
    align-items: flex-end;
  }
  @media (min-width: @desktop-width) {
    .padding-side--large;
    padding-bottom: 34px;
  }
}
.page-header__logo {
  display: flex;
  z-index: 4;
  align-self: flex-start;
}
.page-header__logo:focus-visible {
  outline: 2px solid #ffffff;
}
.page-header__logo-mobile {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
.page-header__logo-tablet {
  display: none;
  @media (min-width: @tablet-width) {
    display: block;
  }
  @media (min-width: @desktop-width) {
    display: none;
  }
}
.page-header__logo-desktop {
  display: none;
  @media (min-width: @desktop-width) {
    display: block;
  }
}
.page-header__logo svg {
  fill: #FFFFFF;
}
.page-header__logo:hover svg {
  fill: #D22856;
}
.page-header__logo:active svg {
  fill: #FFFFFF;
  opacity: 0.3;
}
