.gallery__title {
  .font-normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: @blueish;
}
.gallery__list {
  .padding-side--small;
  .font-normal;
  line-height: 24px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.gallery__item {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
}
.gallery__best {
  .font-bold;
  font-size: 12px;
  text-align: center;
  color: #FFFFFF;
  background-color: @redish;
}
.gallery__name {
  .font-bold;
  font-size: 14px;
  color: @blueish;
}
.gallery__time {
  .font-light;
  font-size: 12px;
  color: @blueish;
  text-transform: uppercase;
}
.gallery__description {
  font-size: 14px;
}
.gallery__like {
  font-size: 12px;
  text-transform: uppercase;
  color: @redish;
  display: flex;
  flex-direction: row;
}
