.gallery {
  padding-top: 44px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  @media (min-width: @tablet-width) {
    padding-top: 92px;
  }
}
.gallery__title {
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  .font-normal;
  .padding-side--small;
  width: 250px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: @blueish;
  margin: 0px;
  margin-bottom: 50px;
  @media (min-width: @tablet-width) {
    font-size: 18px;
    margin-bottom: 77px;
    width: 500px;
  }
  @media (min-width: @desktop-width) {
    width: 572px;
    margin-bottom: 89px;
  }
}
.gallery__list {
  .padding-side--small;
  .font-normal;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0px;
  line-height: 24px;
  list-style-type: none;
  width: 100vw;
  max-width: @desktop-width;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(1, 100%);
  gap: 20px;
  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, calc(~"50% - 10px"))
  }
  @media (min-width: @desktop-width) {
    .padding-side--large;
    grid-template-columns: repeat(3, calc(~"33% - 10px"))
  }
}
.gallery__item {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  @media (min-width: @tablet-width) {
    padding-bottom: 24px;
  }
  @media (min-width: @desktop-width) {
    margin-bottom: 34px;
    padding-bottom: 22px;
  }
}
.gallery__item--panoramic {
  position: relative;
  @media (min-width: @tablet-width) {
    grid-column: 1 / -1;
    margin-bottom: 30px;
    padding-bottom: 0;
  }
  @media (min-width: @desktop-width) {
    margin-bottom: 28px;
  }
}
.gallery__link:focus-visible {
  outline: 2px solid @blueish;
}
.gallery__image {
  width: 100%;
  display: block;
}
.gallery__image--panoramic {
  max-width: none;
  width: 100vw;
  margin-left: -20px;
  @media (min-width: @desktop-width) {
    margin-left: calc((100vw - 940px) / -2);
    overflow-x: visible;
  }
}
.gallery__best {
  position: absolute;
  .font-bold;
  font-size: 12px;
  line-height: 24px;
  justify-content: center;
  color: #FFFFFF;
  display: flex;
  text-align: center;
  background-color: @redish;
  width: 140px;
  margin: 0;
  text-transform: uppercase;
  padding-top: 6px;
  padding-bottom: 6px;
  top: 0;
  right: 0;
  @media (min-width: @tablet-width) {
    top: 57px
  }
  @media (min-width: @desktop-width) {
    top: 54px;
    right: calc((100vw - 1200px) / -2)
  }
}
.gallery__info {
  display: flex;
  flex-direction: column;
  padding-left: 17px;
  padding-top: 18px;
  padding-right: 10px;
  @media (min-width: @tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 23px;
  }
  @media (min-width: @desktop-width) {
    padding-left: 27px;
  }
}
.gallery__info--panoramic {
  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.gallery__name {
  .font-bold;
  font-size: 14px;
  color: @blueish;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.gallery__time {
  .font-light;
  font-size: 12px;
  color: @blueish;
  text-transform: uppercase;
}
.gallery__description {
  font-size: 14px;
  margin: 0;
  margin-bottom: 12px;
  @media (min-width: @tablet-width) {
    min-height: 48px;
  }
}
.gallery__description--panoramic {
  @media (min-width: @tablet-width) {
    order: 3;
    margin-bottom: 26px;
    min-height: 0;
  }
}
.gallery__like-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 17px;
  @media (min-width: @tablet-width) {
    justify-content: space-between;
    margin-bottom: 0px;
  }
}
.gallery__like-wrapper--panoramic {
  @media (min-width: @tablet-width) {
  order: 2;
  }
}
.gallery__like {
  font-size: 12px;
  text-transform: uppercase;
  color: @redish;
  display: flex;
  margin: 0px;
  margin-left: 18px;
  @media (max-width: @mobile-width-only) {
    order: 2;
  }
  @media (min-width: @tablet-width) {
    margin-right: auto;
    margin-left: 0px;
  }
}
.gallery__like-wrapper--panoramic .gallery__like {
  @media (min-width: @tablet-width) {
    margin-left: auto;
    margin-right: 16px;
  }
}
.gallery__like-button {
  padding: 0;
  border: none;
  background: none;
  display: flex;
  margin-bottom: 2px;
  width: 13px;
  height: 12px;
  @media (max-width: @mobile-width-only) {
    order: 1;
  }
  svg {
    fill: @redish;
    display: flex;
  }
}
