.device {
  border: none;
  box-sizing: border-box;
  background-color: #F2F2F2;
  width: 100vw;
  margin-left: -20px;
  .padding-side--small;
  padding-top: 39px;
  padding-bottom: 0px;
  margin-bottom: 38px;
  margin-right: 0;
  @media (min-width: @tablet-width) {
    margin-left: 0;
    width: auto;
    background-color: #FFFFFF;
    order: 3;
    border: 2px solid #E5E5E5;
    border-radius: 1px;
    margin-bottom: 59px;
    padding: 0;
  }
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    width: calc(50% - 35px);
    margin-left: 35px;
  }
}
.device__title {
  .font-normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: @redish;
  float: left;
  margin-bottom: 35px;
  width: 100%;
  @media (min-width: @tablet-width) {
    float: none;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 0px;
  }
}
.device__list {
  list-style-type: none;
  .font-normal;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  @media (min-width: @tablet-width) {
    margin-top: 43px;
    margin-left: 58px;
    margin-bottom: 52px;
  }
  @media (min-width: @desktop-width) {
    margin-left: 72px;
  }
}
.device__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 34px;
  width: 100%;
  @media (min-width: @desktop-width) {
    margin-bottom: 35px;
  }
  label {
    cursor: pointer;
  }
}
.device__item:last-child {
  margin-bottom: 0;
}
.device__custom-radio {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.device__custom-radio::before {
  content: "";
  display: inline-block;
  height: 41px;
  width: 41px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #E5E5E5;
  border-radius: 50%;
}
.device__input:checked + .device__custom-radio::before{
  background-image: url(../img/form/radio-checked.svg);
}
.device__input:hover + .device__custom-radio::before {
  border-color: @blueish;
}
.device__input:active + .device__custom-radio::before {
  border-color: @redish;
}
.device__input:focus-visible + .device__custom-radio::before {
  border-color: @blueish;
}
.device__label {
  font-size: 18px;
  line-height: 30px;
  color: @blueish;
  padding-left: 29px;
  @media (min-width: @tablet-width) {
    padding-left: 20px;
  }
}
