.essay {
  .padding-side--small;
  border: none;
  box-sizing: border-box;
}
.essay__title {
  .font-normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: @redish;
}
