.name {
  .padding-side--small;
  border: none;
}
.name__list {
  list-style-type: none;
  .font-normal;
  margin: 0;
  padding: 0;
}
.name__item {
  display: flex;
  flex-direction: column;
}
.name__label {
  display: flex;
  font-size: 14px;
  line-height: 30px;
  color: @redish;
}
