.intro {
  padding-top: 95px;
  background-image: url(../img/index/back-mobile.png);
  background-repeat: no-repeat;
  background-size: 320px 462px;
  box-sizing: border-box;
  margin-bottom: 46px;
}
.intro__wrapper {
  .padding-side--small;
}
.intro__title {
  .font-light;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 23px;
}
.intro__image {
  background: transparent;
  width: 320px;
  height: 286px;
  display: block;
  margin-left: -20px;
}
