.intro-download {
  display: flex;
  flex-direction: column;
  background-color: #1D2631;
  box-sizing: border-box;
  width: 100%;
  .padding-side--small;
}
.intro-download__button {
  .font-bold;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  margin-top: 28px;
  margin-bottom: 32px;
}
.intro-download__icon-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding: 0px;
  gap: 35px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
  align-items: flex-end;
}
.intro-download__icon:nth-child(n+2) {
  margin-bottom: 3px;
}
.intro-download__description {
  .font-light;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 24px;
}
.intro-download__image {
  display: block;
}
