.pricing{
  overflow: hidden;
  padding-top: 130px;
  background: linear-gradient(176deg, #FFFFFF 45px, #F2F2F2 45px);
}
.pricing__table {
  border-collapse: collapse;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 828px;
  margin-left: -254px;

}
.pricing__row {
  overflow: visible;
  max-width: none;
}
.pricing__header {
  background-color: @blueish;
  border: 2px solid #283645;
  border-radius: 1px 0px 0px 0px;
  .font-bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 276px;
  overflow: visible;
  padding-top: 19px;
  padding-bottom: 24px;
  box-sizing: border-box;
}
.pricing__price {
  .font-light;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.pricing__cell {
  .font-normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @blueish;
  background: #FFFFFF;
  border: 2px solid #E5E5E5;
  border-radius: 1px 0px 0px 0px;
  width: 276px;
  overflow: visible;
  padding: 0;
  padding-bottom: 16px;
  padding-top: 16px;
}
.pricing__cell--legend {
  display: none;
}
.pricing__cell-text {
  margin-left: 20px;
 }
.pricing__toggles {
  margin-top: 40px;
  margin-bottom: 40px;
}
